<html ng-app="flashcardApps">
<head>
    <title> Angular Demo App</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css">
</head>

<body>
    <div class="container-fluid" ng-controller="flashcardController as fc">
        <div class="row">
            <div class="col-xs-3">
                Search: <input ng-model="fc.sortCriteria.name">
            </div>
            <div class="col-xs-6">
                <div class="panel panel-default" ng-repeat="deck in fc.decks | filter:fc.sortCriteria.name">
                    <div class="panel-heading"> {{deck.name}}</div>
                    <div class="panel-body"> {{deck.description}}</div>
                </div>
            </div>
        </div>

    </div>
    <script src="lib/angular/angular.js"></script>
    <script src="app/flashcards.js"></script>
</body>
</html>